@model IEnumerable<studentModules.Models.modules>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassHoursPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWeeks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfStudyHoursPerWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SelfstudyRemainsweek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Module)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassHoursPerWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWeeks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfStudyHoursPerWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelfstudyRemainsweek)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ModuleCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ModuleCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ModuleCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
